<!-- base.html -->
<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<title>
		{% block title %}{% endblock %}
	</title>
	<!--
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	-->
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<!--在bootstrap中，规定了每一行都被分为了固定的12个栅栏，每一个栅栏都有自己的宽度。如果你的div用了container的样式，
那么它的宽度最大也大不过12个栅栏总共的最大宽度。而，当你的div用了container-fluid的样式，它会无视12个栅栏的规定，根据屏幕自动适应自动填充。
(当然，宽度要设置为width:100%)。
-->
	<div class='container-fluid'>
		{% include 'header.html' %}
		<div class='row'>
			<div class='col-sm-4 col-md-4'>  <!--行分为12列.col-md-xx 数字所占列数-->
				<div class='panel panel-default'>
					<div class='panel-heading'>   <!--带 title 的面板标题-->
						<h3>MENU</h3>
					</div>
					<div class='panel-body'>
						<!--在任何面板中包含列表组，通过在 <div> 元素中添加 .panel 和 .panel-default 类来创建面板，并在面板中添加列表组-->
						<div class='list-group'>
						<a href='/' class='list-group-item'>HOME</a>
						<a href='https://www.baidu.com/' class='list-group-item'>百度</a>
						<a href='http://www.nlc.cn/' class='list-group-item'>国家图书馆</a>
						<a href='https://github.com/liu6010/myblog' class='list-group-item'>github</a>
						</div>
					</div>
				</div>
			</div>
			<div class='col-sm-8 col-md-8'>  <!--行分为12列.col-md-xx 数字所占列数-->
				<div class='panel panel-default'>
					<div class='panel-heading'>   <!--带 title 的面板标题-->
						{% block headmessage %}{% endblock %}
					</div>
					<div class='panel-body'>
						{% block content %}{% endblock %}
					</div>
			<!--在面板中添加脚注，只需要把按钮或者副文本放在带有 class .panel-footer 的 <div> 中即可。-->
					<div class='panel-footer'>
						{% include 'footer.html' %}
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>